@model IEnumerable<TransporteWeb.Models.Ponto>

@{
    ViewData["Title"] = "Pontos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pontos</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Cadastrar Ponto</a>
</p>
<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nomeponto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nomeponto)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.id" class="btn btn-info">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
