@model TransporteWeb.Models.MotoristaAgendamentoViewModel

@{
    ViewData["Title"] = "Agendamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Agendamentos</h1>

@if (TempData["Mensagem"] != null)
{
    <div class="alert alert-warning text-center">
        @TempData["Mensagem"]
    </div>
}

<div class="table-responsive">
    <table class="table text-white">
        <thead>
            <tr>
                <th>NOME</th>
                <th>VEÍCULO</th>
                <th>PONTO</th>
                <th>TIPO VIAGEM</th>
                <th>PRESENÇA</th>
                <th>AÇÃO</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var agendamento in Model.Agendamentos)
            {
                // Verificar se existe uma confirmação de presença
                var confirmacao = Model.Confirmacoes.FirstOrDefault(c => c.IdAgendamento == agendamento.id);
                <tr>
                    <td>@Html.DisplayFor(modelItem => agendamento.estudante.nome)</td>
                    <td>@Html.DisplayFor(modelItem => agendamento.veiculo.nomeveiculo)</td>
                    <td>@Html.DisplayFor(modelItem => agendamento.ponto.nomeponto)</td>
                    <td>@Html.DisplayFor(modelItem => agendamento.TipoViagem)</td>
                    <td>
                        @if (confirmacao != null)
                        {
                            @Html.DisplayFor(modelItem => confirmacao.PresencaConfirmada)
                        }
                        else
                        {
                            <span>Nenhuma confirmação</span>
                        }
                    </td>
                    <td>
                        <form asp-action="ConfirmarPresenca" method="post" onsubmit="return confirmarAcao(this);">
                            <input type="hidden" name="IdAgendamento" value="@agendamento.id" />
                            @if (confirmacao == null) // Verifica se ainda não foi confirmado
                            {
                                <button type="submit" name="Presenca" value="true" class="btn btn-success btn-sm">OK</button>
                                <button type="submit" name="Presenca" value="false" class="btn btn-danger btn-sm">NÃO</button>
                            }
                            else
                            {
                                <span class="text-muted">Bloqueado</span>
                            }
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    function confirmarAcao(form) {
        var confirmacao = confirm("Tem certeza que deseja realizar essa ação?");
        return confirmacao; // Retorna true se o usuário confirmar, false caso contrário
    }
</script>
