@model TransporteWeb.Models.Veiculo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes</h1>

<div>
    <h4>Veiculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeveiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeveiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.placa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.placa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vagas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vagas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
