@model IEnumerable<TransporteWeb.Models.Agendamento>

@{
    ViewData["Title"] = "agenEst";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Agendamentos</h1>

<p>
    <a asp-controller="Agendamentos" asp-action="Index">Voltar</a>
</p>
<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estudante.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.veiculo.nomeveiculo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estudante.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.veiculo.nomeveiculo)
            </td>
        </tr>
}
    </tbody>
</table>
